.heading {
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 80px;
    flex-basis: 100%;
}


.heading-title>h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
}
.heading>.stripe {
    width: 11px;
    height: 35px;
    background-color: #e1e6ea;
    margin-right: 13px;
}