.navbar {
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    flex-wrap: wrap;
    /*background-color: #e0e1e2;*/
    flex-basis: 100%;
}
.navbar>.container {
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.navbar-container {
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;

}

.navbar-nav {
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-li {
    /*flex-basis: calc(100% / 7);*/
    border: 2px solid transparent;
    border-radius: 2px;
    flex-basis: auto;
    text-align: center;
    padding: 2px 11px;
}
.navbar a {
    text-decoration: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #a4aead;

}

.navbar-nav>.isActive {
    border-color: var(--color-primary);
}
.navbar-nav>.isActive>a {
    color: var(--color-primary);
}

.nav-li:hover {
    /*flex-basis: calc(100% / 7);*/
    border: 2px solid #a4aead;
    border-radius: 2px;
    flex-basis: auto;
    text-align: center;
    padding: 2px 11px;
}