@import "variables/_variables";

html {
  box-sizing: border-box;
  font-family: $base-f-f;

}
:root {
  --color-primary: #23b7a4;
}


a {
  color: var(--color-primary);
  line-height: 1;
}



*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  overflow: hidden;
  /*position: relative;*/
  width: 100%;
}

